* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* min-height: 100vh; */
    background-color: #fff;
    font-family: 'Nunito Sans', sans-serif;
}
.namaclub {
    font-family: 'Boogaloo', cursive;
    font-size: 3.25rem;
}

.side-navbar {
    width: 200px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #383838;
    transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
background-color: #ffffff26;
}

.my-container {
transition: 0.4s;
}

.active-nav {
margin-left: 0;
}
.hr-side {
    margin: 1rem;
}

.active-cont {
margin-left: 200px;
}

#menu-btn {
color: #383838;
font-size: 1.5rem;
}
.nav-item {
    padding: 0 3.5rem;
}
h2 {
    font-weight: bold;
    text-decoration: underline solid #ff5020;
    text-decoration-thickness: 10%;
}